---
export interface Props {
  title: string;
  description: string;
  pubDate: string;
  url: string | undefined;
}
let { title, description, pubDate, url } = Astro.props;
const shortDate = new Date(pubDate).toLocaleDateString("en", {
  dateStyle: "short",
});
url = url + "/";
---

<li
  class="flex flex-col gap-2 sm:grid-cols-4 leading-relaxed rounded-2xl border-zinc-700 dark:text-indigo-300"
>
  <a
    class="col-span-3 flex flex-col gap-2 sm:gap-4 p-5 my-2 hover:dark:bg-indigo-800 hover:bg-indigo-700 rounded-lg"
    href={url}
  >
    <span class="flex items-center justify-between mb-1"
      ><h2 class="text-xl text-violet-800 dark:text-indigo-400">
        {title}
      </h2><span class="shrink-0 text-base">{shortDate}</span>
    </span>
    <p class="text-base text-black text-violet-500 dark:text-indigo-300">
      {description}
    </p>
  </a>
</li>
